body {
    font-family: "Open Sans";
}

button {
    color: #fff;
    box-shadow: 2px;
    border-radius: 5px;
    background-color: #1acec5;
    border: none;
    padding: 5px 15px 5px 15px;
    font-style: bold;
    font-size: 16pt;
    text-align: center;
    margin-right: 10px;
}

button:hover {
    background-color: #1a8ebb;
}

button::last-child {
    margin-right: 0px;
}

.resizable-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.resizable-svg-container {
    height: 0;
    padding-top: 100%;
    position: relative;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(359deg); }
    100% { transform: rotate(0deg); }
}

::-webkit-scrollbar {
    display: none;
}

.progress-log {
    vertical-align: middle;
    pointer-events: none;
}

.progress-log > *:last-child ::first-line {
    font-size: 120%;
}

.next-btn-container {
    text-align: center;
}

#ccw_wheel {
    animation: spin 60s linear infinite;
    transform-origin:
}

.stack-entry {
    font-size: 3pt;
    font-weight: bold;
    text-anchor: middle;
}

.visualization {
    vertical-align: top;
    width: 60%;
    height: 100vh;
    position: fixed;
}

.narration {
    vertical-align: middle;
    width: 40%;
    height: 100vh;
}
.point-label {
    font-size: 2pt;
    font-weight: bold; 
    text-anchor: middle;
    text-shadow: 1px 1px 2px white;
    pointer-events: none;
}
