body {
    font-family: "Open Sans";
}

button {
    color: #fff;
    box-shadow: 2px;
    border-radius: 5px;
    background-color: #aac;
    border: none;
    padding: 5px 15px 5px 15px;
    font-style: italic;
}

/*
button::after {
    content: " >";
}
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: roate(359deg); }
}

#ccw_wheel {
    animation: spin 1s linear infinite;
}
